.about-us-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
  /* background-color: #f3f3f3; */
  border-radius: 30px;
  /* box-shadow: 0 2px 10px rgba(38, 34, 34, 0.996); */
  margin-top: 130px;
  
  align-items: center;
  justify-content: center;
  
}

.about-us-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-us-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

.about-us-section {
  display: grid;
grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 80px;
}

.about-us-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.about-us-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.about-us-content p {
  font-size: 18px;
  color: #fff;
  line-height: 1.6;
  text-align: justify !important;
  font-family: sans-serif;
}

/* .btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  text-decoration: none;
  background-color: #ff5a5f;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
} */

/* .btn:hover {
  background-color: #e53e42;
} */

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.team-member-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scaleX(-1); /* Flip the image horizontally */
}

.team-member-info {
  margin-top: 10px;
  text-align: center;
}

.team-member-name {
  color: #fff;
}

.team-member-role {
  font-size: 16px;
  color: #feeeee;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .about-us-container {
    padding: 30px;
  }

  .about-us-section {
    margin-bottom: 60px;
  }

  .about-us-image img {
    max-width: 300px;
  }

  .about-us-content h2 {
    font-size: 20px;
  }

  .about-us-content p {
    font-size: 16px;
  }

  .team-member-avatar {
    width: 100px;
    height: 100px;
  }

  .team-member-name {
    font-size: 16px;
  }

  .team-member-role {
    font-size: 14px;
  }
}

#About{
  background-image: url(https://res.cloudinary.com/dejwpag1r/image/upload/v1687376131/photo-1660154294160-755d22e6ea78_gzmklm.jpg);
  background-size: cover;
  margin-top: -50px;
  margin-bottom: -40px;
}