.dashboard{
    /* background: rgba( 245, 240, 240, 0.05 ); */
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); 
background-color: #fbf7f7;
padding: 50px;
margin-top: 130px;
}

.sathuu.active,
.sathuu:focus{
    background-color: #152B51 !important;
    color: #fff !important;
}

.sathuu{
    color: #BA9364;
}

